html{
  scroll-behavior: smooth;

}
*{
    padding: 0;
    margin: 0;
}
body {
  font-family: "Geist", sans-serif;
   background-color: #050505e9;
}
.navbar, .logo-text, .nav-links a, code, pre {
  font-family: "Geist Mono", monospace;
}
